<% video = @video%>
<div class="upload-wrapper">
    <%= form_with(model: video, local: true, id:"video_form") do |form| %>
        <% if video.errors.any? %>
            <ul>
                <% video.errors.full_messages.each do |message| %>
                <li><i class='uil uil-exclamation-circle'></i> <%= message %></li>
                <% end %>
            </ul>
        <% end %>
        <div class="header">
            <h1>Upload a video</h1>
            <span><i class='uil uil-exclamation-circle'></i> WIP</span>
        </div>
        <div class="body">
            <div class="col w25">
                <label>title</label> 
                <label>description</label> 
                <label>video</label> 
                <label>thumbnail</label> 
            </div>
            <div class="col w75">
                <label class="lbl-hidden">title</label> 
                <%= form.text_field :title, placeholder: 'Enter the video title' %>

                <label class="lbl-hidden">description</label> 
                <%= form.text_area :description, rows: 10, placeholder: 'Enter the video description' %>

                <label class="lbl-hidden">video</label> 
                <%= form.file_field :clip, direct_upload: true %>
                <%= form.label :clip do %>
                    Upload
                <% end %>
                <a href="#" id="video_upload_abort" class="hidden" style="float: right"><i class='uil uil-times-circle'></i> Cancel upload</a>

                <label class="lbl-hidden">thumbnail</label> 
                <%= form.file_field :thumbnail %>
                <%= form.label :thumbnail do %>
                    Upload
                <% end %>
            </div>
        </div>
        <div class="footer">
            <%= link_to 'Cancel', root_path %>
            <%= form.submit id:"submit-btn", value: 'SUBMIT' %>
        </div>
    <% end %>
</div>