<% video = @video%>
<div class="upload-wrapper">
    <h1><i class='uil uil-angle-right'></i> Upload a video</h1>
    <%= form_with(model: video, local: true, id:"video_form") do |form| %>
        <div class="upload-block">
            <% if video.errors.any? %>
                <ul>
                    <% video.errors.full_messages.each do |message| %>
                    <li><i class='uil uil-exclamation-circle'></i> <%= message %></li>
                    <% end %>
                </ul>

            <% end %>

            <%= form.label :title do %>
                <i class='uil uil-pen'></i> title
            <% end %>
            <%= form.text_field :title %>

            <%= form.label :description do %>
                <i class='uil uil-pen'></i> description
            <% end %>
            <%= form.text_area :description, rows: 10 %>

            <a href="#" id="video_upload_abort" class="hidden"><i class='uil uil-times-circle'></i> Cancel upload</a>
            <h1 style="margin-top: 15px;"><i class='uil uil-video'></i> video</h1> 
            <%= form.file_field :clip, direct_upload: true %>
            <%= form.label :clip %>
            <h1 style="margin-top: 15px;"><i class='uil uil-scenery'></i> thumbnail</h1> 
            <%= form.file_field :thumbnail %>
            <%= form.label :thumbnail %>
            <div class=".in-divider"></div>
            <%= form.submit id:"submit-btn", value: 'UPLOAD' %>
        </div>
    <% end %>
</div>