<div class="video-column">
  <%= video_tag url_for(@video.clip), poster: url_for(@video.thumbnail), :controls => true, class: "video-view" %>
  <div class="video-info">
    <h1 class="title"><%= truncate(@video.title, :length => 60, :separator => ' ') %></h1>
    <div class="video-meta">
      <span class="video-views">x views &middot; <%= @video.created_at.strftime("%b %d, %Y") %></span>
      <div class="video-meta-items">
        <% if user_signed_in? %>
          <%= link_to like_video_path(@video), method: :put, id: "like-js", class: has_liked(current_user, @video) do %>
            <i class='uil uil-thumbs-up'></i> <span id="like"><%= @video.get_upvotes.size %></span>
          <% end %>
          <%= link_to dislike_video_path(@video), method: :put, id: "dislike-js", class: has_disliked(current_user, @video) do %>
            <i class='uil uil-thumbs-down'></i> <span id="dislike"><%= @video.get_downvotes.size %></span>
          <% end %>
        <% else %>
          <div style="padding: 10px 0"></div>
        <% end %>
      </div>
    </div>
    <div class="video-description">
      <div class="video-uploader-meta">
        <%= link_to profile_path(@video.user) do %>
          <%= image_tag user_avatar(@video.user, 48), class: ['rounded-circle', 'fixed-profile-pic'], style: 'margin-right: 15px' %>
        <% end %>
        <div class="video-uploader-info">
          <%= link_to profile_path(@video.user), class: 'name' do %>
            <%= @video.user.username %>
          <% end %>
          <span class="subscriber-count">
            <%= user_subscribers(@video.user) %>
          </span>
        </div>
        <% if user_signed_in? && current_user != @video.user %>
          <% if !current_user.follows?(@video.user)%>
            <%= link_to follow_profile_path(@video.user.id), class: 'subscribe-btn', method: :put do %>
              Subscribe
            <% end %>
          <% else %>
            <%= link_to unfollow_profile_path(@video.user.id), class: ['subscribe-btn', 'subscribe-btn--grey'], method: :put do %>
              Unsubscribe
            <% end %>
          <% end %>
        <% end %>
      </div>
      <p class="video-description-content"><%= @video.description %></p>
    </div>
  </div>
  <div class="video-comments">
  </div>
</div>

<div class="suggestions-column">
  <% @suggestions.each do |suggestion| %>
    <%= link_to suggestion, class: "suggestion-clickable" do %>
      <div class="suggestion-card">
        <div class="suggestion-thumbnail">
          <%= image_tag video_thumbnail(suggestion), class: "suggestion-image" %>
        </div>
        <div class="suggestion-meta">
          <span class="title"><%= truncate(suggestion.title, :length => 25, :separator => ' ') %></span>
          <span class="author"><%= suggestion.user.username %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  // add conditional classnames to code above
  // add like/dislike result displaying
  (function() {
    const like = $('#like-js');
    const likecounter = $('#like');
    const dislike = $('#dislike-js');
    const dislikecounter = $('#dislike');
    const subscribe = $('.subscribe-btn');

    like.click(() => {
        if (like.hasClass('voted')) {
            like.toggleClass('voted');
            likecounter.text(+likecounter.text() - 1);
        } else {
            if (dislike.hasClass('voted')) {
                dislike.toggleClass('voted');
                dislikecounter.text(+dislikecounter.text() - 1);
            }
            like.toggleClass('voted');
            likecounter.text(+likecounter.text() + 1);
        }
    });

    dislike.click(() => {
        if (dislike.hasClass('voted')) {
            dislike.toggleClass('voted');
            dislikecounter.text(+dislikecounter.text() - 1);
        } else {
            if (like.hasClass('voted')) {
                like.toggleClass('voted');
                likecounter.text(+likecounter.text() - 1);
            }
            dislike.toggleClass('voted');
            dislikecounter.text(+dislikecounter.text() + 1);
        }
    });

    subscribe.click(() => {
        if(subscribe.hasClass('subscribe-btn--grey')) {
          subscribe.text('Subscribe');
        } else {
          subscribe.text('Unsubscribe');
        }
        subscribe.toggleClass('subscribe-btn--grey');
    });
  }());
</script>
