<div class="video-column">
  <%= video_tag url_for(@video.clip), poster: url_for(@video.thumbnail), :controls => true, class: "video-view" %>
  <div class="video-info">
    <h1 class="title"><%= @video.title %></h1>
    <div class="video-meta">
      <span class="video-views">x views</span>
      <div class="video-meta-items">
        <%= link_to like_video_path(@video), method: :put, class: "video-meta-item", :onclick => "(document.getElementById('like-js').innerHTML = parseInt(document.getElementById('like-js').innerHTML) + 1)" do %>
          <i class='uil uil-thumbs-up'></i> <span id="like-js"><%= @video.get_upvotes.size %></span>
        <% end %>
        <%= link_to dislike_video_path(@video), method: :put, class: "video-meta-item" do %>
          <i class='uil uil-thumbs-down'></i> <%= @video.get_downvotes.size %>      
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="suggestions-column">
  <% @suggestions.each do |suggestion| %>
    <%= link_to suggestion, class: "suggestion-clickable" do %>
        <div class="suggestion-card">
            <div class="suggestion-thumbnail">
              <%= image_tag video_thumbnail(suggestion), class: "suggestion-image" %>
            </div>
            <div class="suggestion-meta">
                <span class="title"><%= suggestion.title %></span>
                <span class="author"><%= suggestion.user.username %></span>
            </div>
        </div>
    <% end %>
  <% end %>
</div>