<div class="video-column">
  <%= video_tag url_for(@video.clip), poster: url_for(@video.thumbnail), :controls => true, class: "video-view" %>
</div>
<div class="suggestions-column">
  <% @suggestions.each do |suggestion| %>
    <%= link_to suggestion, class: "suggestion-clickable" do %>
        <div class="suggestion-card">
            <%= image_tag suggestion.thumbnail, class: "suggestion-image" %>
            <div class="suggestion-meta">
                <span class="title"><%= suggestion.title %></span>
                <span class="author"><%= suggestion.user.username %></span>
            </div>
        </div>
    <% end %>
  <% end %>
</div>