<% content_for :title, 'Login' %>
<div class="login-wrapper">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.label :email do %>
      <i class='uil uil-envelope'></i> Email
    <% end%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.label :password do %>
      <i class='uil uil-key-skeleton'></i> password
    <% end%>

    <%= f.password_field :password, autocomplete: "current-password" %>

    <% if devise_mapping.rememberable? %>
    <div class="row">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    </div>
    <% end %>
    
    <%= f.submit "Log in" %>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
