<% content_for :title, @user.username %>
<div class="profile-wrapper">
    <div class="profile-banner">
        <%= image_tag @user.banner if @user.banner.attached? %>
        <% if user_signed_in? && current_user == @user %>
            <%= link_to edit_user_registration_path do %>
                <i class='uil uil-cog'></i>
            <% end %>
        <% end %>
    </div>
    <div class="row">
        <div class="profile-avatar">
            <%= image_tag user_avatar(@user, 100) %>
        </div>
        <div class="profile-user">
            <span class="username"><%= @user.username %></span>
            <span class="sub-count"><%= user_subscribers(@user) %></span>
        </div>
        <% if user_signed_in? && current_user != @user %>
            <div class="profile-subscribe">
            <% if !current_user.follows?(@user)%>
                <%= link_to follow_profile_path(@user.id), class: 'subscribe-btn', method: :put do %>
                    Subscribe
                <% end %>
            <% else %>
                <%= link_to unfollow_profile_path(@user.id), class: ['subscribe-btn', 'subscribe-btn--grey'], method: :put do %>
                    Unsubscribe
                <% end %>
            <% end %>
            </div>
        <% end %>
    </div>
    <div class="profile-menu">
        <%= link_to 'Home', profile_path(@user), class: "active" %>
        <%= link_to 'Uploads', uploads_profile_path(@user.id) %>
    </div>

    <% last = @user.videos.last %>
    <% if !last.nil? %>
    <h1 class="section">Latest upload</h1>

    <div class="profile-recent">
        <div class="thumbnail-wrapper">
            <%= link_to video_path(last) do %>
                <%= image_tag upload_thumbnail(last, 450, 250) %>
            <% end %>
            <span class="duration"><%= convert_duration(last) %></span>
        </div>
        <div class="info">
            <span class="title"><%= truncate(last.title, :length => 45, :separator => ' ') %></span>
            <span class="description"><%= truncate(last.description, :length => 300, :separator => ' ') %></span>
            <span class="details"><%= count_views(last) %> &middot; <%= time_ago_in_words(last.created_at) %> ago</span>
        </span>
    </div>
    <%end%>
</div>
<script>
(function(){
    const subscribe = $(".subscribe-btn");
    subscribe.click(() => {
        if(subscribe.hasClass('subscribe-btn--grey')) {
            subscribe.text('Subscribe');
        } else {
            subscribe.text('Unsubscribe');
        }
        subscribe.toggleClass('subscribe-btn--grey');
    });
}());
</script>